:root * {
  font-family: "Montserrat", sans-serif;
}

.image-text {
  height: 120px;
}
@media (max-width: 480px) {
  .image-text {
    max-width: 100%;
    width: auto;
    height: 60px;
    margin-left: unset;
  }
}

.frame {
  top: 0px;
  width: 55%;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  position: fixed;
  transition: width 1s;
}
@media (max-width: 768px) {
  .frame {
    transform: scale(1.75);
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.75);
    -moz-transform: scale(1.75);
  }
}
.frame.final-position {
  transition: width 1s;
  top: 0px;
  width: 50%;
}
@media (max-width: 992px) {
  .frame.final-position {
    width: 65%;
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
  }
}
.frame.final-position.fixed {
  transition: all 0s;
  position: absolute;
  top: 3700px;
}
@media (max-width: 992px) {
  .frame.final-position.fixed {
    bottom: unset;
  }
}
@media (max-width: 992px) {
  .frame {
    width: 100%;
    bottom: 0;
    margin: auto;
  }
}

#new-identity {
  position: relative;
  background: linear-gradient(45deg, #4CBFBA, #82C9AF);
  height: 500px;
  overflow: hidden;
}
@media (max-width: 992px) {
  #new-identity {
    height: 100vh;
    padding: 10%;
  }
}
#new-identity .title {
  margin-top: 120px;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  #new-identity .title {
    max-width: 100%;
  }
}
#new-identity .text-box {
  width: 500px;
}
@media (max-width: 992px) {
  #new-identity .text-box {
    max-width: 100%;
  }
}
#new-identity .text-box .text {
  padding-left: 28px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 29.6px;
  color: #fff;
  text-align: justify;
  font-size: 20px;
  line-height: 32px;
}
@media (max-width: 992px) {
  #new-identity .text-box .text {
    padding-left: 0;
  }
}
#new-identity .element {
  position: absolute;
  top: -165px;
  height: 650px;
}
@media (max-width: 992px) {
  #new-identity .element {
    display: none;
  }
}
#new-identity .element.element-right {
  right: -315px;
}
#new-identity .element.element-left {
  left: -245px;
}
@media (max-width: 1200px) {
  #new-identity .element.element-left {
    left: -30%;
  }
  #new-identity .element.element-right {
    right: -40%;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
    bottom: 20%;
  }
  1% {
    opacity: 1;
    bottom: 20%;
  }
  90% {
    opacity: 0;
    bottom: 10%;
  }
  100% {
    opacity: 0;
    bottom: 20%;
  }
}
#new-identity .arrow {
  position: absolute;
  left: 0;
  margin: auto;
  right: 0;
  animation: arrow 1.75s ease-in-out 5s infinite;
  -webkit-animation: arrow 1.75s ease-in-out 5s infinite;
  -moz-animation: arrow 1.75s ease-in-out 5s infinite;
}

#cycles {
  position: relative;
  height: 800px;
}
@media (max-width: 992px) {
  #cycles {
    height: auto;
    padding: 10%;
  }
}
#cycles .smartphone {
  position: absolute;
  left: 0px;
  top: -100px;
  height: 600px;
}
#cycles .container {
  position: relative;
}
@media (max-width: 992px) {
  #cycles .container {
    position: unset;
  }
}
#cycles .title {
  margin-top: 75px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  #cycles .title {
    margin: 20px 0;
  }
}
#cycles .text-box {
  position: absolute;
  right: 0;
  text-align: justify;
  padding-left: 64px;
  width: 400px;
}
#cycles .text-box .text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 29.6px;
  color: #939393;
  text-align: justify;
}
@media (max-width: 992px) {
  #cycles .text-box {
    padding: unset;
    width: 100%;
    position: unset;
  }
}

#challenge {
  background-color: rgba(163, 217, 205, 0.25);
  background-blend-mode: multiply;
  position: relative;
}
@media (max-width: 992px) {
  #challenge {
    padding: 10%;
  }
}
#challenge .container {
  position: relative;
  display: flex;
  height: 800px;
  align-items: center;
  align-content: center;
}
#challenge .container img {
  display: flex;
}
@media (max-width: 992px) {
  #challenge .container img {
    display: block;
    margin: 20px 0;
  }
}
@media (max-width: 992px) {
  #challenge .container {
    display: block;
    height: auto;
  }
}
#challenge .title {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  #challenge .title {
    margin: 20px 0;
  }
}
#challenge .text-box {
  padding-left: 64px;
  position: absolute;
  right: 0;
  width: 400px;
}
#challenge .text-box .text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 29.6px;
  color: #939393;
  text-align: justify;
  text-align: justify;
}
@media (max-width: 992px) {
  #challenge .text-box {
    position: unset;
    padding: unset;
    width: 100%;
  }
}

#multiple-elements {
  background-color: transparent;
  position: relative;
}
@media (max-width: 992px) {
  #multiple-elements {
    padding: 10%;
  }
}
#multiple-elements .notebook {
  position: absolute;
  left: -500px;
  height: 850px;
  bottom: -240px;
  z-index: 10;
}
#multiple-elements .cup {
  position: absolute;
  left: 50px;
  height: 300px;
  bottom: -100px;
  z-index: 10;
}
#multiple-elements .container {
  position: relative;
  display: flex;
  height: 800px;
  align-items: center;
  align-content: center;
}
#multiple-elements .container img {
  display: flex;
}
@media (max-width: 992px) {
  #multiple-elements .container img {
    display: block;
  }
}
@media (max-width: 992px) {
  #multiple-elements .container {
    display: block;
    height: auto;
  }
}
#multiple-elements .title {
  padding-top: 0px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  #multiple-elements .title {
    margin: 20px 0;
  }
}
#multiple-elements .text-box {
  position: absolute;
  right: 0;
  width: 400px;
  padding-left: 64px;
}
#multiple-elements .text-box .text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 29.6px;
  color: #939393;
  text-align: justify;
  text-align: justify;
}
@media (max-width: 992px) {
  #multiple-elements .text-box {
    position: unset;
    padding: unset;
    width: 100%;
  }
}

#solidity {
  background-color: rgba(163, 217, 205, 0.25);
  position: relative;
}
@media (max-width: 992px) {
  #solidity {
    padding: 10%;
  }
}
#solidity .notebook {
  position: absolute;
  left: -500px;
  height: 850px;
  bottom: -240px;
  z-index: 10;
}
#solidity .container {
  position: relative;
  display: flex;
  height: 800px;
  align-items: center;
  align-content: center;
}
#solidity .container img {
  display: flex;
}
@media (max-width: 992px) {
  #solidity .container img {
    display: block;
  }
}
@media (max-width: 992px) {
  #solidity .container {
    display: block;
    height: auto;
  }
}
#solidity .title {
  padding-top: 0px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  #solidity .title {
    margin: 20px 0;
  }
}
#solidity .text-box {
  padding-left: 64px;
  position: absolute;
  right: 0;
  width: 400px;
}
#solidity .text-box .text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  line-height: 29.6px;
  color: #939393;
  text-align: justify;
}
@media (max-width: 992px) {
  #solidity .text-box {
    position: unset;
    padding: unset;
    width: 100%;
  }
}

#computer {
  position: relative;
}
@media (max-width: 992px) {
  #computer {
    overflow: hidden;
  }
}
#computer .background {
  min-height: 100vh;
  width: 100%;
  z-index: 20;
}
@media (max-width: 992px) {
  #computer .background {
    display: none;
  }
}
#computer .background-mobile {
  display: none;
}
@media (max-width: 992px) {
  #computer .background-mobile {
    display: block;
    width: 100%;
  }
}
@keyframes fading-text {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#computer .animated-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 67vh auto auto;
  text-align: right;
  width: 47%;
  height: 24px;
  font-weight: 500;
  animation: fading-text 4s ease-in-out 5s infinite;
  -webkit-animation: fading-text 4s ease-in-out 5s infinite;
  -moz-animation: fading-text 4s ease-in-out 5s infinite;
  cursor: pointer;
}
@media (max-width: 992px) {
  #computer .animated-text {
    top: 50%;
    text-align: center;
    width: 30%;
    height: 54px;
    margin: auto;
  }
}

#video {
  opacity: 0;
  height: 0;
  background: linear-gradient(45deg, #4CBFBA, #5BB079);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  #video {
    display: block;
  }
}
#video.opened {
  opacity: 1;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 992px) {
  #video .container {
    padding: 0;
  }
}
#video .content {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#video iframe {
  width: 560px;
  height: 315px;
  margin-left: 70px;
}
@media (max-width: 992px) {
  #video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin-left: 0px;
  }
}
#video .left-box {
  float: left;
  width: 50%;
}
@media (max-width: 992px) {
  #video .left-box {
    width: 100%;
    float: none;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
}
#video .right-box {
  float: left;
  width: 50%;
  height: 315px;
}
@media (max-width: 992px) {
  #video .right-box {
    width: 100%;
    float: none;
  }
}
#video .right-box .title {
  margin-top: 80px;
  color: #fff;
  text-align: center;
}
#video .right-box .edools {
  width: fit-content;
  display: block;
  color: #fff;
  font-size: 32px;
  border: 1px solid #fff;
  border-radius: 35px;
  padding: 10px 25px;
  font-weight: 600;
  margin: 0 auto;
  transition: all 1.4s;
  cursor: pointer;
}
#video .right-box .edools:hover {
  background: white;
  color: #55b694;
  transition: all 1.4s;
}
#video .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  margin-top: 30px;
}
#video .social-media .icon {
  margin: 0 10px;
  transition: filter 1.4s;
}
#video .social-media .icon:hover {
  filter: brightness(165%);
  transition: filter 1.4s;
  cursor: pointer;
}
#video .element {
  position: absolute;
  top: 25px;
  height: 650px;
}
#video .element.element-right {
  right: -315px;
}
#video .element.element-left {
  left: -245px;
}
@media (max-width: 1200px) {
  #video .element.element-left {
    left: -30%;
  }
  #video .element.element-right {
    right: -40%;
  }
}
@media (max-width: 992px) {
  #video .element {
    display: none;
  }
}

.loading {
  opacity: 1;
  transition: all 3s;
}
.loading .image {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 20;
  height: 200px;
}
.loading.loaded {
  opacity: 0;
  transition: all 3s;
}

.general-container {
  max-height: 100vh;
  overflow: hidden;
}
.general-container:after {
  content: "";
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #696a6f;
  background-blend-mode: multiply;
  opacity: 1;
  transition: all 3s;
}
.general-container.loaded {
  max-height: unset;
  overflow: unset;
}
.general-container.loaded:after {
  opacity: 0;
  transition: all 3s;
}
.general-container.finished::after {
  display: none;
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
